/* body{
    background-image: url('bg4.jpg');
    background-size: cover;
} */
/* 
.navbar-brand span{
    font-size: 20px;
    color:#eeef20;
    text-decoration: line-through white;
    padding-left: 5px;
} */

/* footer{
    border-top:2px solid rgba(166, 164, 144, 1);
    margin-top:25px;
}

footer h3{
    font-size: 2em;
}

footer h4{
    font-size: 1.5em;
}

.copyright{
    margin-top: 15px;
    background-color:rgba(0, 0, 0, 0.5);
    color: antiquewhite;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.creator h2{
    text-align: center;
    padding-bottom:15px;
} */
/* 
img{
    width:250px;
    height:250px;
    border-radius: 50%;
    margin: 0 50px;
    display: inline-block;
    padding-bottom: 15px;
} */


/* #boxes{
	margin-top:20px;
}


#boxes img{
	width:100px;
} */

